# Introduction
---

# Vorgehensweise in dieser Arbeit

Die Arbeit orientiert sich am Data Science Lifecycle, welcher nachfolgend dargestellt wird.

Die blau markierte Phase der Planung wird zur Vollständigkeit auf dieser Seite in einem rudimentären Niveau durchgegangen.</br>

Das Feature Engineering wird gleichzeitig auf Test- und Trainingsdaten angewendet, wenn sichergestellt ist das keine Informationen des jeweils anderen Datasets in die Modelle einfließen. Beispielsweise kann eine Wurzel-Transformation sofort erfolgen, weil kein Mittelwert oder sonstiger Lagewert verwendet wird. Im Gegensatz dazu wird eine Standardisierung, welche den Mittelwert verwendet, bei Bedarf separat auf das jeweilige Datensets angewendet.

<img src="https://kirenz.github.io/ds-python/_images/lifecycle.png" alt="alt text" width="600" align="center">

(Kirenz, J. 2021: https://kirenz.github.io/ds-python/docs/lifecycle.html)

## Planing

Zur Bewertung von Immobilienpreisen in bestimmten Distrikten sollen mehrere Modelle erstellt werden.

Geschätzt werden soll der Median-Preis von Immobilien mit folgenden Modellen.

* OLS-Regression
* Lasso-Regression
* Regression mit Splines

Ferner wird klassifiziert, ob die Median-Preise in Distrikten über der Preisschwelle von 150T$ liegen.

* Logistische Regression

## Variablen

Der zur Verfügung gestellte Datensatz enthält folgende Werte.

---
__longitude und latidue__: Koordinaten zur Orientierung</br>
__housing_median_age:__ Median age of a house within a district; a lower number is a newer building</br>
__total_rooms:__ Total number of rooms within a district </br>
__total_bedrooms:__ Total number of bedrooms within a district</br>
__population:__ Total number of people residing within a district</br>
__households:__ Total number of households, a group of people residing within a home unit, for a district</br>
__median_income:__ Median income for households within a district of houses (measured in tens of thousands of US Dollars)</br>
__median_house_value:__ Median house value within a district (measured in US Dollars)</br>
__ocean_proximity:__ Location of the district</br>
__price_category:__ Indicator variable made from median_house_value (if median house value is below or above 150000)</br>

---

Mit Hilfe der nachfolgend dargestellten Variablen werden die Modelle trainiert und getestet.
In den Modellen werden die Variabelen *price_categorie* und *median_house_value* die Responsewerte darstellen.</br>
Ferner liegt mit *ocean_proximity* eine weitere Variable zur Strand- oder Ozean-Nähe vor.</br>
Die restlichen Variablen sind absolute oder Medianwerte.

In [1]:
import pandas as pd
df = pd.read_csv("project_data.csv")

In [9]:
df.groupby(by=["price_category","ocean_proximity"]).describe().T

price_category               above                                           \
ocean_proximity          <1H OCEAN        INLAND       ISLAND      NEAR BAY
longitude      count   7938.000000   4517.000000     5.000000   1997.000000
               mean    -118.868776   -119.744651  -118.354000   -122.263450
               std        1.586794      1.914385     0.070569      0.153829
               min     -124.140000   -123.730000  -118.480000   -122.590000
               25%     -118.530000   -121.370000  -118.330000   -122.420000
               50%     -118.290000   -119.850000  -118.320000   -122.260000
               75%     -117.990000   -118.030000  -118.320000   -122.130000
               max     -116.620000   -114.310000  -118.320000   -122.010000
latitude       count   7938.000000   4517.000000     5.000000   1997.000000
               mean      34.578614     36.741508    33.358000     37.786900
               std        1.459029      2.110433     0.040866      0.185200
               min       32.610000     32.640000    33.330000     37.350000
               25%       33.850000     34.420000    33.340000     37.710000
               50%       34.040000     36.810000    33.340000     37.780000
               75%       34.230000     38.530000    33.350000     37.890000
               max       41.680000     41.950000    33.430000     38.340000
total_rooms    count   7938.000000   4517.000000     5.000000   1997.000000
               mean    2721.910809   2561.917866  1574.600000   2567.541813
               std     2195.687026   2310.304028   707.545264   1877.217757
               min       11.000000      6.000000   716.000000      8.000000
               25%     1521.000000   1343.000000   996.000000   1472.000000
               50%     2197.500000   2033.000000  1675.000000   2156.000000
               75%     3244.000000   2992.000000  2127.000000   3114.000000
               max    37937.000000  39320.000000  2359.000000  18634.000000
total_bedrooms count   7850.000000   4473.000000     5.000000   1977.000000
               mean     554.553248    503.413146   420.400000    521.805766
               std      430.359921    420.666301   169.320111    371.283369
               min        5.000000      2.000000   214.000000      1.000000
               25%      307.000000    275.000000   264.000000    290.000000
               50%      444.000000    406.000000   512.000000    427.000000
               75%      661.000000    599.000000   521.000000    648.000000
               max     5471.000000   6210.000000   591.000000   3226.000000
population     count   7938.000000   4517.000000     5.000000   1997.000000
               mean    1507.103930   1322.233341   668.000000   1239.056585
               std     1106.595859   1088.419749   301.691067    897.894411
               min        3.000000      5.000000   341.000000      8.000000
               25%      850.000000    703.000000   422.000000    718.000000
               50%     1236.000000   1090.000000   733.000000   1039.000000
               75%     1834.000000   1606.000000   744.000000   1500.000000
               max    16122.000000  16305.000000  1100.000000   8276.000000
households     count   7938.000000   4517.000000     5.000000   1997.000000
               mean     526.294659    449.503210   276.600000    496.882824
               std      393.965095    364.584243   113.200265    355.133832
               min        4.000000      2.000000   160.000000      1.000000
               25%      297.000000    245.000000   173.000000    279.000000
               50%      427.000000    371.000000   288.000000    410.000000
               75%      626.000000    542.000000   331.000000    616.000000
               max     5189.000000   5358.000000   431.000000   3589.000000
median_income  count   7938.000000   4517.000000     5.000000   1997.000000
               mean       4.470720      3.162311     2.744420      4.388736
               std        2.010407      1.598616     0.444180      2.047104
               min        0.499900      0.499900     2.157900      0.499900
               25%        3.133475      2.024200     2.604200      3.031300
               50%        4.132450      2.734400     2.736100      4.038000
               75%        5.409075      3.973700     2.833300      5.285500
               max       15.000100     15.000100     3.390600     15.000100

price_category                             below                             \
ocean_proximity         NEAR OCEAN     <1H OCEAN        INLAND     NEAR BAY
longitude      count   2219.000000   1198.000000   2034.000000   293.000000
               mean    -119.578427   -118.708556   -119.707094  -122.241911
               std        2.310210      1.596380      1.870974     0.085101
               min     -124.350000   -124.020000   -123.170000  -122.510000
               25%     -122.200000   -118.330000   -121.320000  -122.290000
               50%     -119.120000   -118.240000   -120.340000  -122.250000
               75%     -117.250000   -118.150000   -117.650000  -122.200000
               max     -116.970000   -116.840000   -115.320000  -122.010000
latitude       count   2219.000000   1198.000000   2034.000000   293.000000
               mean      34.951257     34.441060     36.710334    37.897543
               std        2.243140      1.514905      2.128908     0.156159
               min       32.540000     32.710000     32.650000    37.470000
               25%       32.850000     33.910000     34.110000    37.790000
               50%       34.150000     34.000000     37.590000    37.840000
               75%       37.400000     34.080000     38.560000    37.980000
               max       41.920000     41.880000     41.630000    38.320000
total_rooms    count   2219.000000   1198.000000   2034.000000   293.000000
               mean    2667.513294   2008.363105   3063.790560  1989.552901
               std     2115.465430   1792.020829   2511.794622  1376.567861
               min       15.000000     47.000000      2.000000   105.000000
               25%     1520.500000   1131.500000   1543.750000  1125.000000
               50%     2224.000000   1653.000000   2440.500000  1742.000000
               75%     3206.500000   2364.500000   3734.750000  2315.000000
               max    30405.000000  32627.000000  23386.000000  9493.000000
total_bedrooms count   2192.000000   1184.000000   2023.000000   293.000000
               mean     543.913777    493.405405    601.249629   462.747440
               std      396.847083    407.514709    491.239997   340.251203
               min        3.000000      6.000000      2.000000    27.000000
               25%      311.000000    279.750000    300.000000   272.000000
               50%      457.000000    404.500000    479.000000   399.000000
               75%      671.250000    588.250000    752.000000   533.000000
               max     4585.000000   6445.000000   4952.000000  2477.000000
population     count   2219.000000   1198.000000   2034.000000   293.000000
               mean    1335.184768   1607.665275   1543.862340  1170.754266
               std     1039.119219   1613.475613   1317.169083   798.222426
               min        8.000000     32.000000      6.000000    86.000000
               25%      751.500000    910.500000    749.250000   731.000000
               50%     1091.000000   1331.000000   1203.500000  1008.000000
               75%     1600.500000   1917.500000   1885.750000  1406.000000
               max    12873.000000  35682.000000  11973.000000  5436.000000
households     count   2219.000000   1198.000000   2034.000000   293.000000
               mean     505.473186    461.094324    539.504916   432.273038
               std      362.837701    376.210934    441.434564   312.742378
               min        3.000000     10.000000      2.000000    25.000000
               25%      295.000000    268.000000    269.000000   255.000000
               50%      425.000000    377.000000    430.000000   380.000000
               75%      617.500000    546.750000    664.750000   486.000000
               max     4176.000000   6082.000000   4616.000000  2323.000000
median_income  count   2219.000000   1198.000000   2034.000000   293.000000
               mean       4.245924      2.640176      3.312672     2.701706
               std        2.080903      0.921980      0.982289     0.876933
               min        0.536000      0.700700      0.499900     0.716000
               25%        2.859100      2.028000      2.629850     2.149400
               50%        3.922400      2.555600      3.234100     2.661800
               75%        5.127650      3.159550      3.945150     3.255200
               max       15.000100     15.000100     12.538100     6.042600

price_category
ocean_proximity        NEAR OCEAN
longitude      count   439.000000
               mean   -118.089749
               std       1.993954
               min    -124.300000
               25%    -118.190000
               50%    -117.110000
               75%    -117.070000
               max    -116.990000
latitude       count   439.000000
               mean     33.662711
               std       2.130198
               min      32.550000
               25%      32.680000
               50%      32.750000
               75%      33.785000
               max      41.950000
total_rooms    count   439.000000
               mean   2160.056948
               std    1078.319437
               min      22.000000
               25%    1460.500000
               50%    2061.000000
               75%    2714.500000
               max    8052.000000
total_bedrooms count   436.000000
               mean    511.979358
               std     247.289011
               min       4.000000
               25%     338.750000
               50%     494.500000
               75%     643.250000
               max    1461.000000
population     count   439.000000
               mean   1449.157175
               std     809.415424
               min      14.000000
               25%     953.000000
               50%    1292.000000
               75%    1785.000000
               max    5094.000000
households     count   439.000000
               mean    479.870159
               std     229.106940
               min       5.000000
               25%     333.500000
               50%     456.000000
               75%     603.000000
               max    1430.000000
median_income  count   439.000000
               mean      2.791962
               std       0.908418
               min       0.643300
               25%       2.105600
               50%       2.633300
               75%       3.502700
               max       7.300400